<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @act.name %>
</p>

<p>
  <strong>When:</strong>
  <%= @act.when %>
</p>

 <strong>Starring amoebas:</strong>
<ul>
  <% @act.amoebas.each do |amoeba|%>
    <li><%= amoeba.name %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_act_path(@act) %> |
<%= link_to 'Back', acts_path %>
